<div class="row">
	<div class="span12">
		<h1>Developers</h1>
		<p>We hold seminars throughout the year pertaining to the various aspects of web development, from HTML to Ruby on Rails. Below you will find the calendar for such seminars. Keep in mind that we plan the seminars conveniently for our members, so should your schedule have a conflict that other members are likely to be afflicted with, please send us an e-mail.</p>

		<!--
		<div class = "calendar-container">
			<iframe src="https://www.google.com/calendar/embed?title=U%20of%20T%20Web%20development%20club&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=uoftwebdev%40gmail.com&amp;color=%232952A3&amp;src=en.canadian%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FToronto" style=" border-width:0 " width="700" height="600" frameborder="0" scrolling="no"></iframe> 
		</div>

		-->
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2>Projects</h2>
		<div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#2A" data-toggle="tab">Project #1</a></li>
               <li class=""><a href="#2B" data-toggle="tab">Project #2</a></li>
               <li class=""><a href="#2C" data-toggle="tab">Project #3</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="2A">
                	<h3>Project #1</h3>
                  <p>---------------</p>
                </div>
                <div class="tab-pane" id="2B">
                	<h3>Project #2</h3>
                  <p>------------------</p>
                </div>
                <div class="tab-pane" id="2C">
                	<h3>Project #3</h3>
                  <p>------------------</p>
                </div>
            </div>
         </div>
    </div>
</div>

<div class="row">
  <div class="span12">
    <h1>Learning Resources and Tutorials</h1>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#exec_00" data-toggle="tab">Turorial made</a>
        </li>
        <li>
          <a href="#exec_01" data-toggle="tab">Web servers</a>
        </li>
        <li>
          <a href="#exec_02" data-toggle="tab">CSS</a>
        </li>
        <li>
          <a href="#exec_03" data-toggle="tab">JS</a>
        </li>
        <li>
          <a href="#exec_04" data-toggle="tab">ETC</a>
        </li>
      </ul>
      <div class="container">
          <div class="tab-content">
            <div class="tab-pane active" id="exec_00">
              Tomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuff
            </div>
            <div class="tab-pane" id="exec_01">
              Tomcat / stuff
            </div>
            <div class="tab-pane" id="exec_02">
              Tomcat / stuff
            </div>
            <div class="tab-pane" id="exec_03">
              Tomcat / stuff
            </div>
            <div class="tab-pane" id="exec_04">
              Tomcat / stuff
            </div>
          </div>
      </div>
    </div>
  </div>
</div>