 <div class="span5">

            <div class="panel">

              <div class="panel-header bg-lightBlue fg-white">
                    Web Club Developers
                </div>  
                <div class="panel-content">
                    The Web Development Club organizes tutorials on a bi-weekly bases on various topics of Web Development to better prepare students for both the competitive job market as well as preparing students for Toronto's entreprenuership scene.
                    <br>

              </div>
            </div>


            <br>

            <div class="panel">
                <div class="panel-header bg-darkRed fg-white">
                    Tutorial Team Executives
                </div>  
                <div class="panel-content">
                    <i class="icon-newspaper"></i> Rakshit Shukla [Leader]<br><br>
                    <i class="icon-newspaper"></i> ?? <br><br>
                    <i class="icon-newspaper"></i> ?? <br><br>
                    <i class="icon-newspaper"></i> ?? <br>

                </div>
            </div>


             
          </div>


          <div class="span5">

            <div class="panel">
                <div class="panel-header">
                    Past Tutorials
                </div>
                <div class="panel-content">

                <h5><i class="icon-mail"></i> Introduction to HTML, CSS and Javascript</h5>
                
                Our tutorials leader, Rakshit, kicked of this year's series of seminars with an introduction to all the basic components of front end web development. <br><br>

                Here are the resources from the first tutorial.<br><br>

                <a href= "http://webdevclubtut1.paperplane.io">Presentation Slides</a><br><br>

                <a href= "https://github.com/cadz7/Web-Dev-Club-tutorial1/tree/master/tutorial1-live-code">Source Code to build portfolio WebSite</a><br><br>

                <a href= "http://fortawesome.github.io/Font-Awesome/icons/">Font-Awesome Icons</a><br><br>

                <h5><i class="icon-file"></i> Introduction to Web Design</h5>
                
                Suhail, an experienced developer of many years, introduced the club to numerous development techniques and the basics of designing your first site<br><br>

                <a href= "http://www.suhaildawood.com/wdc/assets/player/KeynoteDHTMLPlayer.html">Presentation Slides</a><br><br>

            </div>
             
          </div>