<div class="span5">

            <div class="panel">

              <div class="panel-header bg-lightBlue fg-white">
                    Entrepreneur and Research Expo
                </div>  
                <div class="panel-content">
                    The entrepreneur and research expo is the Web Development Club's signature event. Every year, we bring together researchers and entrepreneurs looking to recruit computer science students for their projects and venture. We intend to bring together around 20 startups and researchs to each pitch their projects for 5-7 minutes infront of a large audience and later give students an opportunities to discuss about future participation<br><br>

              </div>
            </div>

               <div class="panel">

              <div class="panel-header bg-red fg-white">
                    Next Expo:
                </div>  
                <div class="panel-content">
                    The time for next year's expo has not been confirmed. We are looking towards scheduling the event for the upcoming Janurary. Please stay tuned for further information.<br><br>

              </div>
            </div>


            <br>
             
          </div>


          <div class="span5">

            <div class="panel">
                <div class="panel-header">
                    Expo Participants
                </div>
                <div class="panel-content">
                	The information about the expo's participants will be posted after the expo. This is decision was made to encourage students to come to the expo instead of directly contacting all expo presenters through mass emails.

            </div>
             
          </div>