<div class="span5">

            <div class="panel">

              <div class="panel-header bg-lightBlue fg-white">
                    Computer Science Events
                </div>  
                <div class="panel-content">
                    We have worked with all clubs as well as the department to bring all the events into one combined location for both the ease of usages for the students as well as the event organizers. <br><br>

                    Please contact the organizer for information about specific events.
                    <br>

              </div>
            </div>


            <br>
             
          </div>


          <div class="span5">

            <div class="panel">
                <div class="panel-header">
                    Future Events
                </div>
                <div class="panel-content">


            </div>
             
          </div>