          <div class="span5">

            <div class="panel">

              <div class="panel-header bg-lightBlue fg-white">
                    Club Introduction
                </div>  
                <div class="panel-content">
                    The Web Development Club is a student led group by students that seeks to improve the Web Development skills of students to assist students with future job and entreprenuership opportunities.
                    <br><br>

                    Our club is also extensively involved with startups and the Computer Science Department to create the mailing system as well as the job board on this site as well as other activities to improve the job opportunities of computer science students.

                    <br><br>

                    President of Web Dev Club, Hengwei Guo<br>

                    <i class="icon-mail"></i> Uoftwebdev.president@mail.utoronto.ca

                    <br>

              </div>
            </div>


            <br>

            <div class="panel">

              <div class="panel-header bg-darkRed fg-white">
                    Mailing System Information:
                </div>  
                <div class="panel-content">
                    <h5><i class="icon-clock"></i> Scheduled Completion Date:</h5>
                    December 10, 2014 <br>
                    <h5><i class="icon-mail"></i> Contact:</h5>
                    alan.yuan@mail.utoronto.ca
                    <h5><i class="icon-mail"></i> Current Number of Signups:</h5>
                    <%= @number_of_users %>
                    <br><br>

                    <%= button_to "Sign Up", "/useraccount" , {:class => "large"} %>
                    
              </div>
            </div>
             
          </div>


          <div class="span5">

            <div class="panel">
                <div class="panel-header">
                    Information
                </div>
                <div class="panel-content">

                    <h5><i class="icon-mail"></i> Mailing System</h5>
                
                We have worked extensively with the other clubs and the department of computer science to coordinate a department wide mailing system that seeks to include all future Computer Science related events, jobs and anouncements in one location for efficient management.<br><br>

                <h5><i class="icon-file"></i> Research and Entrepreneurship Expo</h5>
                
                The Research and Entreprenuership Expo is a yearly event inviting the departments research professors as well as leaders in Toronto's growing startup community together to present their projects to the computer science community to recruit for prospective candidates<br><br>

                <h5><i class="icon-lines"></i> Computer Science Events</h5>
                
                The Web Development Club has worked with the CSSU, all other CS clubs as well as the department to bring all the relevants CS events into one location for ease of information<br><br>

                <h5><i class="icon-location"></i> Jobs and Opportunities</h5>
                
                The jobs and opportunities is a main extension from the orginial computer science jobs board. We want to improve the convience of the important job board.<br><br>
                </div>
            </div>
             
          </div>