
<div class = "row">
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
				
			<div class="carousel-inner">
				<div class="item active">
					<%= image_tag "banner/learning.png"%>
					<div class="carousel-caption">
						<p>We provide seminars for our members to learn, catering to even more novice programmers.</p>
					</div>
				</div>
				
				<div class="item">
					<%= image_tag "banner/social.png"%>
					<div class="carousel-caption">
						<p>We maintain an atmosphere conducive for making like-minded friends who are interested in web development.</p>
					</div>
				</div>
					
				<div class="item">
					<%= image_tag "banner/networking.png"%>
					<div class="carousel-caption">
						<p>We facilitate industry connections for our members.</p>
					</div>
				</div>
			</div>
			
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
</div>

<div class="row">
	<div class="span6">
		<h2>Club Leaders</h2>
		<div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#lA" data-toggle="tab">President</a></li>
               <li class=""><a href="#lB" data-toggle="tab">Vice President</a></li>
               <li class=""><a href="#lC" data-toggle="tab">Resource Manager</a></li>
               <li class=""><a href="#lD" data-toggle="tab">Treasurer</a></li>
               <li class=""><a href="#lE" data-toggle="tab">Department Liaison</a></li>
               <li class=""><a href="#lF" data-toggle="tab">Event Organizer</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="lA">
               	  <h3>President </h3>
                  <p>About//</p>
                </div>
                <div class="tab-pane" id="lB">
                	<h3>Vice President </h3>
                  <p>About//</p>
                </div>
                <div class="tab-pane" id="lC">
                	<h3>Resource Manager</h3>
                  <p>About//</p>
                </div>
                <div class="tab-pane" id="lD">
               	  <h3>Treasurer</h3>
                  <p>About//</p>
                </div>
                <div class="tab-pane" id="lE">
                	<h3>Department Liaison</h3>
                  <p>About//</p>
                </div>
                <div class="tab-pane" id="lF">
                	<h3>Event Organizer</h3>
                  <p>About//</p>
                </div>
            </div>
         </div>
	</div>

	<div class="span6">
		<h2>About Us</h2>
		<div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#2A" data-toggle="tab">Club Objectives</a></li>
               <li class=""><a href="#2B" data-toggle="tab">Entrepreneurship Initivative</a></li>
               <li class=""><a href="#2C" data-toggle="tab">Upcoming Events</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="2A">
                	<h3>Club Objectives</h3>
                  <p>------------------</p>
                </div>
                <div class="tab-pane" id="2B">
                	<h3>Entrepreneurship Initivative</h3>
                  <p>------------------</p>
                </div>
                <div class="tab-pane active" id="2C">
                	<h3>Upcoming Event</h3>
                  <<p>------------------</p>
                </div>
            </div>
         </div>
	</div>
</div>

