<div class="row">
	<div class="span12">

		<h1>Jobs and Opportunites</h1>
		<p>The Web Development club cators to verified employers from Toronto looking for students to assist with part time development work. We seek to create an environment where third parties can post jobs positions for members in the Web Development Club to access.</p>

		<p>The Web Development Club takes no liabilities for the offers posted on its forms. The third party and members are encouraged to verify their agreements. The club will not participate in any negociations </p>



		<!--
		<div class = "calendar-container">
			<iframe src="https://www.google.com/calendar/embed?title=U%20of%20T%20Web%20development%20club&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=uoftwebdev%40gmail.com&amp;color=%232952A3&amp;src=en.canadian%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FToronto" style=" border-width:0 " width="700" height="600" frameborder="0" scrolling="no"></iframe> 
		</div>

		-->
	</div>
</div>