<div class="span5">

            <div class="panel">

              <div class="panel-header bg-lightBlue fg-white">
                    Jobs and Opportunities
                </div>  
                <div class="panel-content">
                    We have worked specifically with the department to move the job postings on the CS job board to this location for better user experience. The job postings are not screened, the Web Development Club takes no responsibilities for the postings<br><br>

              </div>
            </div>


            <br>
             
          </div>


          <div class="span5">

            <div class="panel">
                <div class="panel-header">
                    Job Postings
                </div>
                <div class="panel-content">


            </div>
             
          </div>