<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>Thank you for signing up for the Web Dev Club Mailing System. The mailing system is scheduled to begin sending out regular jobs and events around in the middle of December.</p>

  </body>
</html>