<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      You have successfully signed up with the Web Development Club's Mailing System.
      <br> 
    </p>

   
    <%= url_for controller: "users", action: "confirmation_token", id: @user, host: "http://whispering-dusk-7191.herokuapp.com" %>

    <p>Have a great day!</p>
  </body>
</html>