<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      You have successfully signed up with the Web Development Club's Mailing System.
      <br> 
    </p>

   
    <a href ="<%= url_for controller: "users", action: "confirmation_token", email_confirmation_token: @user.email_confirmation_token,  host: "whispering-dusk-7191.herokuapp.com" %>">Click here to confirm your email</a>

    <p>Have a great day!</p>

    <br>
    <p>If you like the mailing system and believe in its potential and would like every department within UofT to have a similar system, please send me a message at alan.yuan@mail.utoronto.ca
    <br>
    We are looking for experienced Front End Developers/ Design as well as back end developers whom have worked with Ruby on Rails in the past.
    </p>
  </body>
</html>