<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      You have successfully signed up with the Web Development Club's Mailing System.
      <br> 
    </p>

    <p>Please click on the link below to confirm your email <br><br>
      <%= url_for(host: "http://whispering-dusk-7191.herokuapp.com/", controller: "user", action: "confirmMail", id: => "@user.id") %>
    </p>

    <p>Have a great day!</p>
  </body>
</html>