<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      You have successfully signed up to UofT Web Development Club's Mailing System
      <br>
      You can visit our page to modify your settings.
      <br> 
      Based on your current settings, we will be sending out weekly job, entrepreneurship
      , research, and events. 
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>