<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      You have successfully signed up to UofT Web Development Club's Mailing System.
      <br> 
    </p>

    <p>
      This is the first year the club's mailing system has been running and it is currently still in the beta testing phrase. If anyone has any concerns or comments, please respond to us. 
      <br> 
    </p>


    <p>Thanks for joining and have a great day!</p>
  </body>
</html>