<div class="row">
	<div class="span12">
		<h1>Contact UofT WebDevClub</h1>
		<p>
			Email us:	<a href="mailto:uoftwebdev@utoronto.ca">uoftwebdev@utoronto.ca</a>
		</p>
	</div>
</div>
		
<div class="row">
	<div class="span2">
		<a href="https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252">
			<%= image_tag "facebook.png"%>
		</a>	
	</div>
	<div class="span2">
		<a href="https://twitter.com/UofTWebDev">
			<%= image_tag "twitter.png"%>
		</a>
	</div>
</div>
