<div class="row">
	<div class="span12">
		<h1>Admin Panel</h1>
	</div>

	<div class="span12">
		<% @users.each do |user| %>
      		<h4><%= user.name %></h4>
      		<p><%= user.email %></p>
      		<%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
    	<% end %>
	</div>

	<br>

	<%= button_to "Sign Out", '/signout', {:class => "btn btn-large btn-primary"} %>
</div>

</div>