<div class="span9 offset1">

	<h2>Thank you for confirming your Email Address</h2>

	<br>
	<p>You will now recieve regular email updates</p>
	<br>
	<%= button_to "Profile Page", "/useraccount", {:class => "large"} %>

</div>