<div class="span9 offset1">
		
	<h4>Welcome <%= @user.name %></h4>

	<p>The Web Development Club would like to keep you posted with new job offers, entrepreneurship events and research opportunities as well as our club's regular newsletters and events. Here you can change your settings on future emails and newsletters to best accomodate your personal needs.</p>

	<br>

	<h4>Here are your current settings</h4>

	<p>Your Email will be sent in a frequency of <%= @user.email_frequency %> days</p>

	<br>

	<% if @user.web_club_newsletter %>
		<p><i class='icon-checkmark'></i> Your Email <b>will</b> include Web Club Updates</p>
	<% else %> 
		<p><i class='icon-cancel-2'></i> Your Email <b>will not</b> include Web Club Updates</p>
	<% end %>
	<br>

	<% if @user.research %>
		<p><i class='icon-checkmark'></i> Your Email <b>will</b> include Research Opportunities</p>
	<% else %> 
		<p><i class='icon-cancel-2'></i> Your Email <b>will not</b> include Research Opportunities</p>
	<% end %>
	<br>

	<% if @user.jobs %>
		<p><i class='icon-checkmark'></i> Your Email <b>will</b> include Job Updates</p>
	<% else %> 
		<p><i class='icon-cancel-2'></i> Your Email <b>will not</b> include Job Updates</p>
	<% end %>
	<br>

	<% if @user.cs_events %>
		<p><i class='icon-checkmark'></i> Your Email <b>will</b> include CS Events</p>
	<% else %> 
		<p><i class='icon-cancel-2'></i> Your Email <b>will not</b> include CS Events</p>
	<% end %>
	<br>

	<% if @user.yncn_events %>
		<p><i class='icon-checkmark'></i> Your Email <b>will</b> include YNCN updates</p>
	<% else %> 
		<p><i class='icon-cancel-2'></i> Your Email <b>will not</b> include YNCN updates</p>
	<% end %>
	<br>

	<%= button_to "Update Settings", '/update', {:class => "large"} %>

	<%= button_to "Sign Out", '/signout', {:class => "large"} %>

</div>