<h1>Welcome <%= @user.name %></h1>

<p>The Web Development Club would like to keep you posted with new job offers, entrepreneurship events and research opportunities as well as our club's regular newsletters and events. Here you can change your settings on future emails and newsletters to best accomodate your personal needs.</p>

<%= button_to "Sign Out", '/signout', {:class => "btn btn-large btn-primary"} %>

