/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

@import "summernote";
@import "codemirror";
@import "codemirror/themes/solarized";

@font-face {
  font-family: 'iconFont';
  src: font-url('/assets/fonts/iconFont.eot');
  src: font-url('/assets/fonts/iconFont.eot?#iefix') format('embedded-opentype'), font-url('/assets/fonts/iconFont.woff') format('woff'), font-url('/assets/fonts/iconFont.ttf') format('truetype'), font-url('/assets/fonts/iconFont.svg#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}