// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 20px;
  padding-bottom: 60px;
}




/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}
.footer{
  text-align: center;
}

.editor{
  overflow: scroll;
  max-height: 300px;
}


/* box */
div.box{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  color: #222;
  font-family: arial,sans-serif;
  font-size: 13px;
  line-height: 16.1167px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-top: 6px;
  padding-bottom: 1px;
}

div.boxContent{
  padding: 10px 8px 10px 8px;
}

/* even odd items */
.even{

  background-color: #EEEEEE;
  margin: -10px -8px -10px -8px;
  padding: 10px 8px 0px 8px;
}